address = "127.0.0.1"
port = 9000
endpoint = "http://localhost:8000"
client_id = "21542fg8182456c893b7"
client_secret = "0286e783daf803445bf516e1eff45f737adav706"
jwt_pub_key = """-----BEGIN CERTIFICATE-----
MIIE2TCCAsGgAwIBAgIDAeJAMA0GCSqGSIb3DQEBCwUAMCYxDjAMBgNVBAoTBWFk
bWluMRQwEgYDVQQDDAtjZXJ0X2RqMjNpbDAeFw0yMjExMTAwNTE0MzhaFw00MjEx
MTAwNTE0MzhaMCYxDjAMBgNVBAoTBWFkbWluMRQwEgYDVQQDDAtjZXJ0X2RqMjNp
bDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBANKK8FS6JAFI+kVxDsx9
xtvEmahsdUus4dQk3uO7G4ENHjJyNiWkXfRn/Y07ZQ6+8xnL6luV//hnTiXDKsv+
ngXx+LhvWq81D4iIBIg6YD5sfzUTfecpkAkkxtkmmNioq5O6+7RpfzaAIYWyb6b2
6292bXQMzRs9BATFEoklnBu2ymcByjXoMAvCZ+cXn0/LAk4TAOARlYnovzidHWFF
dPwHj1yUX8Xisy30Qi4MUGO95VMH4c13W8mEgirDzwv0LFYHbRFf4wDmEs6rng1d
Ey3mJrwAjPaAoRdGm3Ytp/4Pa4RDwuOgvcbygdyc1y6RD5Iylju3GOCEwCkKjhni
UWSAIQWmIz+A3wfCrjrKOZH8y2AIEGivZ64Uo/zSTEf0gmx1EQ7TP7ZA+GboE+Ap
7eeBHqSSikQDPGa3X6IHDMBlH8W3dF+q369ap7SEsEKYIcIxMrhPpbC8upWRIJcq
q/54TsFdK/F135eDSrwfy2VsicHXedaUmFb2rILqFuXAXz53NB7VQFy0txFscIBl
WonKu/z37DMbv4/cqd1MM+rEZJ/N2WKAJT96UP6g23kKBQhQjKaHtHf/jDwe4oeV
uU0BS1fTZaKEzpueY31kZuVwnpAkrAI38E71/Rmp0iWI4KGWErIhCjWZCbDAmu2T
WjxWwHPAMqmLxJ+TvpZA5N27AgMBAAGjEDAOMAwGA1UdEwEB/wQCMAAwDQYJKoZI
hvcNAQELBQADggIBALm7H3nag7GEx78Joq5LMBBtJWrs5LQ4LNDe79FtiXuYYSJ5
UJRrc3TE6NTrxtuhy0/BSjGleAC35lE8YPQe6kxeGc+ZMl2ztODGO36pEqwGEBmh
/zjUwO/CJPfC/3rsZdr8ztIrAOvdcri0ArOYH3t5Q/9fw1vdW9mb6hmKrSTML1Jc
jJ/wcbZDpY937toypmCp++tsUF7z7TULm7GOGasg4+duVYIYov9ZMI6YlnsHLDyN
NwMa2/ZU8zEh6br97bCOWk7Xw9GFeByzppnZLiCt5b9F8RKEEw8VrCEbZJjjQkNJ
1ElotGOy3IcYLDb6LUKPTvWJOPI1f9Bf3nutj8E920nvFw5h/UrwI28pdAPdShgU
nMv9gWNDKDna4XVKCHPlJQ//P1JM3NQlNbHNNgBoJaadf9XReL2bssyNznlVQFVM
/t1I+IOiQ+xAh1L8L6JBPun4o10b0H7n2CJGoiB3+izWOdK4WW05VuInT3t6TtNV
h2PCAzxWaZAkrnRhhuXtCQw9QkaP6Y5j7j3Gsal+HUJQLwFX84JuTesHOJgMGIzJ
McmEm7jUL5tdIDZFrmp0lWVUD39dDhaF6xEr99gTwZmTVNOvxBVn1BY+SArSpx7b
SDzwb0HZW4OfQB4yd4jJdLZEkQQsnSsji1lKzpXrNd2kjnWbTYAVBuNeS70D
-----END CERTIFICATE-----"""
org_name = "Akashic"
permission_name = "permission-akashic"